@model AstronomicalObject

<div class="card col-sm-4 col-lg-4 col-md-4">
    <div class="img-thumbnail">
        <img class="card-img" src="@Model.ImageThumbnailUrl" alt="" />
        <div class="card-block">
            <h2 class="card-title">@Model.Name </h2>
            <p>Price : @Model.Price.ToString("")</p>
            <p>@Model.ShortDescription</p>
        </div>
    </div>
    <div class="addToCart text-right">
        <p class="button ">
            <a class="btn btn-success" id="cartButton" 
               asp-controller="ShoppingCart" 
               asp-action="AddToShoppingCart" 
               asp-route-AstronomicalObjectId="@Model.AstronomicalObjectId">
                Add to cart
            </a>
        </p>
    </div>
</div>